.upload-box{
    display:flex;
    width:100%;
}
.imgSize{
    width: 82.55px;
    height: 106px;
}
.file-info {
    display: inline-block;
    background: #fff;
    margin: auto 5px;
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.fileList{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height:106px;
}

.el-upload {
  border: 3px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  /* position: relative;
  overflow: hidden; */
  transition: var(--el-transition-duration-fast);
}

.el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}